{% extends "base.html" %}

<!-- MENSAJES FLASH -->
{% set flash_categories = {
'error_doc_types_home': 'alert-danger',
'success_doc_types_home': 'alert-success'
} %}

{% block title %}Tipos de documento{% endblock %}

{% block body %}

<!-- HEADER -->
{% include "headers/main_header.html" %}

<div class="container mt-5">
    <!-- TÍTULO -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-primary">Tipos de documento</h1>
        <a href="{{ url_for('doc_types.new_document_type') }}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Registrar
        </a>
    </div>

    <!-- TABLA -->
    {% if document_types %}
    <div class="card shadow-sm rounded-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col" class="text-center">Editar</th>
                        <th scope="col" class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in document_types %}
                    <tr>
                        <td>{{ document.name }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('doc_types.edit_document_type', doc_type_id=document.id) }}"
                                class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal"
                                data-message="¿Seguro que deseas eliminar el tipo de documento <strong>{{ document.name}}</strong>?"
                                data-url="{{ url_for('doc_types.delete_document_type', document_type_id=document.id) }}">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <!-- ALERTA SI NO HAY REGISTROS -->
    <div class="alert alert-warning text-center mt-4" role="alert">
        No hay tipos de documento registrados.
    </div>
    {% endif %}
</div>

{% endblock %}