{% extends "base.html" %}

<!-- MENSAJES FLASH -->
{% set flash_categories = {
'error_categories_new_category': 'alert-danger',
'success_categories_new_category': 'alert-success'
} %}

{% block title %}Agregar | Categoría{% endblock %}

{% block body %}

{% include "headers/main_header.html" %}

<div class="container mt-5">
    <!-- TÍTULO -->
    <h1 class="mb-4 text-center text-primary">Agregar categoría</h1>

    <!-- FORMULARIO -->
    <div class="card shadow-sm rounded-3 mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <form action="{{ url_for('categories.create_category') }}" method="post">
                <div class="mb-3">
                    <label for="category_name" class="form-label fw-bold">Nombre de la categoría</label>
                    <input type="text" name="category_name" id="category_name" class="form-control"
                        placeholder="Ejemplo: B1, A2..." required>
                </div>
                <!-- BOTONES -->
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('doc_types.home') }}" class="btn btn-outline-secondary">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}