<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- ICONS BOOTSTRAP -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}">
</head>

<body>
    <!-- MENSAJES FLASH -->
    <div class="d-flex flex-column align-items-center position-fixed top-0 start-50 translate-middle-x mt-3"
        style="z-index: 1050;">
        {% if flash_categories %}
        {% for category, alert_class in flash_categories.items() %}
        {% with messages = get_flashed_messages(category_filter=[category]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{alert_class}} fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endfor %}
        {% endif %}
    </div>

    {% block body %}
    {% endblock %}

    <!-- JS BOOTSTRAP -->
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // DESVANECER LOS ALERTS
            setTimeout(() => {
                document.querySelectorAll('.alert').forEach(el => {
                    el.classList.remove('show');
                });
            }, 3000);
        })
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>